# API Configuration
VITE_API_BASE_URL=http://localhost:5000

# Download Links
VITE_PC_LINK=https://your-pc-download-link.com
VITE_ANDROID_LINK=https://your-android-download-link.com

# Razorpay Key ID
VITE_RAZORPAY_KEY_ID=your_key_id_here
